<div class="jumbotron" style="text-align: center;">
  <h2>
    O maior site de publicações e recursos educativos da rede.
  </h2>
  <p>
    Descubra milhares de trabalhos e monografias...
  </p>
</div>