<%= form_for(:search, url: search_path, method: :get) do |f| %>
  <div class="input-group form-group">
    <%= f.text_field :args, placeholder: "Palavras-chaves da monografia...", value: value, class: "form-control" %>
    <span class="input-group-btn">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </span>
  </div>
<% end %>
