<%= form_for(:search, url: search_path, method: :get) do |f| %>
  <div class="input-group form-group">
    <%= f.text_field :text, placeholder: "Palavras-chaves da monografia...", value: value, class: "form-control" %>
    <span class="input-group-btn">
      <%= f.submit 'Pesquisar', class: "btn btn-default" %>
    </span>
  </div>
<% end %>
