<% title "Bem-vindo" %>
<%= render "shared/banner" %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <%= render "shared/search", value: '' %>
    </div>
</div>
<div class="row">
    <hr />
    <% if !@monos.empty? %>
    <div class="col-md-8">
        <h3>+ Recentes</h3>
        <ul>
            <% @monos.order(:created_at).reverse_order.limit(10).each do |mono| %>
            <li><%= link_to mono.title, mono_path(id: mono.slug) %></li>
            <% end %>
            <% if @monos.count > 10 %>
            <li><%= link_to '...', monos_path %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>