<% title "Sobre xTCC" %>
<div class="row" style="text-align: center;">
  <div class="col-md-8 col-md-offset-2">
    <h1>XYZ?</h1>
    <p>Why are companies beginning to share the specific mix of apps that's enabling their businesses to grow?
      Because they know it's the missing piece of the puzzle for developers, many of whom struggle to learn
      which tools certain companies use and why.</p>
    <h1>In fact, we want to quietly become a go-to platform for numerous players in the startup ecosystem for a few reasons.</h1>
    <p>The benefits are clearest for developers. "if you're trying to build a new on-demand service, you can come and see
      all the tools that Instacart uses." We also benefits companies; when big or small startups volunteer what tools they're
      using, they have a better shot at attracting developers who are well-versed in those very same technologies.</p>
  </div>
</div>