<% title "Sobre xTCC" %>
<p class="jumbotron">O xTCC é apenas um serviço de indexação (como o Google ou serviços similares). Sendo assim, o xTCC não mantém nenhum documento publicado em seus servidores.</p>
