<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(:request, url: do_request_path) do |f| %>
      <div class="input-group form-group">
        <%= f.text_field :url, placeholder: "Url da monografia (gdrive, dropbox, etc.)...", class: "form-control" %>
        <span class="input-group-btn">
          <%= f.submit 'Request', class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
</div>
