<ul>
  <% @monos.each do |mono|%>
    <li><%= link_to mono.title, mono %></li>
  <% end %>
</ul>
<%= link_to 'Add', new_mono_path, class: "btn btn-primary btn-xs" %>
<div style="text-align: center;">
  <%= will_paginate @monos, renderer: BootstrapPagination::Rails %>
</div>