<% title "Todas as Instituições" %>
<div class="panel panel-default">
  <% if current_user %>
    <div class="panel-heading">
      <%= link_to 'Add', new_college_path, class: "btn btn-primary btn-xs" %>
    </div>
  <% end %>
  <div class="panel-body">
    <ul>
      <% @colleges.each do |college|%>
        <li><%= link_to college.name, college %></li>
      <% end %>
    </ul>
  </div>
  <div style="text-align: center;" class="panel-footer">
    <%= will_paginate @colleges, renderer: BootstrapPagination::Rails, previous_label: "<<", next_label: ">>", page_links: false %>
  </div>
</div>
